<html>
<header></header>
<body bgcolor="#0099cc">
<center><h1>About Dominick Costa</h1>

  <p>Dominick Costa retired at the ripe old age of 30. He decided to catch up on all of the coding he's missed out on since holding day jobs. This is his first project using Ruby on Rails.</p>

</center>
<%= link_to 'Back to Home', root_path %>

</body>
</html>