<html>
<header></header>
<body bgcolor="#0099cc">
<center><h1>Welcome to the Alpha Blog!</h1>

  <p>Finally getting back into the coding game, with some fresh training Ruby on Rails!</p>

</center>
<%= link_to 'About Dominick', about_path %>
</body>
</html>